$text-primary: #231749;
$text-secondary: #C4C4C4;
$text-light: white;
$button-primary: #7D40E6;
$button-secondary: white;
$progress-bar: #03DFED;
$focus: #FD64B3;
$light-gray: #EFF1F8;
$background-light: white;
$danger: #dc3545;
